.title-hl {
  font-size: 38px;
  font-weight: bold;
}

.feature-thumb {
  padding: 40px 0;
  height: 100%;
  background-size: cover;
  min-height: 500px;
}

.padding-none {
  padding: 0px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .text-wrapper {
    padding: 60px 30px;
  }
}

@media (max-width: 767px) {
  .text-wrapper {
    padding: 60px 15px;
  }
}
/* .feature-bg {
  background: #0062ff;
} */
