.NavbarItems {
  background: #111325;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 40px;
}

.navbar-logo {
  color: var(--orange);
  text-align: center;
  justify-self: start;
  margin-left: 20px;
  text-decoration: none;
}

.navbar-logo:hover {
  color: var(--primary);
  text-align: center;
  justify-self: start;
  margin-left: 20px;
  text-decoration: none;
}

.navbar-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 30px;
  list-style: none;
  text-align: center;
  width: 75vw;
  justify-content: center;
  margin-right: 1rem;
  height: 100%;
  margin: 0;
  align-items: center;
}

.navbar-links {
  color: var(--white);
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}

.navbar-links.active {
  text-decoration: underline;
  padding: 0.5rem 0.5rem;
}

.navbar-links:hover {
  width: 100%;
  text-decoration: none;
  color: var(--orange);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: var(--white);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.navbar-login {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: var(--primary);
  border-radius: 50%;
  color: var(--white);
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.navbar-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 25%);
}

.dropdown-menu-style {
  text-align: center;
  cursor: pointer;
}

.dropdown-item-style {
  color: var(--primary);
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.dropdown-item-style:hover {
  color: var(--white);
  background-color: var(--primary);
  transition: all 0.2s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1230px) {
  .NavbarItems {
    position: sticky;
  }

  .navbar-menu {
    grid-gap: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: 60px;
    left: -100%;
    opacity: 1%;
    transition: all 0.5s ease;
    margin-top: 0;
    padding: 0;
  }

  .navbar-menu.active {
    background-color: var(--white);
    left: 0%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbar-links {
    color: var(--primary);
    text-align: center;
    width: 100%;
    display: table;
  }

  .navbar-links:hover {
    background-color: var(--primary);
    border-radius: 0px;
    transition: all 0.2s ease-out;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 25%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: var(--white);
    font-size: 2rem;
  }

  /* .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #4ad9e4;
        color: var(--white);
        font-size: 1.5rem;
    }
    .nav-links-mobile:hover {
        background: var(--white);
        color: #6568f4;
        transition: 250ms;
    } */

  .navbar-login {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-150%, 60%);
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: var(--primary);
    border-radius: 50%;
    color: var(--white);
    height: 40px;
    width: 40px;
  }
  .navbar-button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-125%, 40%);
  }
}
